.Profile-container {
  width: 100%;
}

.Profile-nav {
  width: 100%;
  padding: 10px 0px;
  background-color: rgb(207, 207, 207);
}

.Profile-nav > nav > a {
  color: #434343;
  text-decoration: none;
  cursor: pointer;
  padding: 0 10px;
}
