.App {
  text-align: center;
  background-color: #b1b1b1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  cursor: pointer;
}

li:hover {
  opacity: 0.8;
}

.active {
  color: #61dafb;
}
.inactive {
  color: white;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.square-on {
  background-color: #61dafb;
}

.square-off {
  background-color: white;
  color: black;
}

button {
  width: 200px;
  border: none;
  border-radius: 4px;
}
button:hover {
  width: 200px;
  border: blue 1px;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 10px 5px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: start;
}

.card-container:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 100px;
  border-radius: 100%;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
}

.card-item-content > p {
  margin: 0;
}

.title {
  font-size: medium;
  font-weight: bold;
  color: #2e2e2e;
}

.content {
  font-size: xx-large;
  font-weight: 500;
  color: #0c0c0c;
}
